h4.red {
    color: red;
}

h4.green {
    color: green;
}

.read {
    background-color:transparent;
    display: inline-block;
    color: #0073e6;
    border: none;
    text-decoration: underline;
    cursor: pointer;

}

.read:hover {
    text-decoration: none;

}